<div class="container">

  <app-presentation></app-presentation>
  <section class="section__top">
    <app-explain [inputText]="inputText"></app-explain>
  </section>
  <section class="image image1"></section>
  <section class="heading">
    <div></div>
    <h1 class="piltover">Piltover</h1>
  </section>
  <section class="text">
    <h4> <strong>Piltover</strong> {{"is the cultural center of Valoran." | translate}}
      <br><br> <i>{{"PROGRESS" | translate}} </i>{{"AND" | translate}}<i> {{"INNOVATION" | translate}}</i>
    </h4>
  </section>
  <section class="image image2"></section>
  <section class="heading">
    <div></div>
    <h1 class="zaun">Zaun</h1>
  </section>
  <section class="text">
    <h4><strong>Zaun</strong> {{"is built deep within the foundations of Piltover." | translate}}
      <br><br><i>{{"POLLUTION" | translate}} </i>{{"AND2" | translate}}<i> {{"POVERTY" | translate}}</i>
    </h4>
  </section>
  <div class="footer">
    <app-requisits></app-requisits>
  </div>

  <app-footer></app-footer>
