div {
  background: var(--white);
  width: 100%;
  height: 80px;
  border-bottom: 10px solid var(--white);
  border-top: 10px solid var(--white);

  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.479);
  position: fixed;
  z-index: 9999;
  top: 0;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background: var(--white);



    li {
      background: inherit;
      list-style: none;

      a {
        color: rgb(148, 148, 148);
        background-color: transparent;
        text-decoration: inherit;
        font-weight: 600;
        letter-spacing: 2px
      }
    }
  }
}

.active {
  filter: brightness(0.4);


}

#nav0 {
  filter: brightness(1);
  color: var(--gold);
}

.position {
  width: 100%;
  height: 80px;
  background: transparent;
  position: relative;

}
