<div class="titles">
  <h2 class="piltover"> · Piltover · </h2>
  <h3>{{ inputText }}</h3>
  <h2 class="zaun"> · Zaun · </h2>
  <p> {{"two sides" | translate}} </p>

</div>

<div class="icons">
  <fa-icon [icon]="faSlash" size="4x" transform="right-4 down-5"></fa-icon>
  <fa-icon [icon]="faArrows" size="4x" transform="down-19"></fa-icon>
  <fa-icon class="reverse" [icon]="faSlash" flip="horizontal" size="4x" transform="left-4 down-5"></fa-icon>
</div>

<div class="icons">
  <fa-icon [icon]="faSlash" size="4x" transform="left-2 up-6"></fa-icon>
  <fa-icon class="reverse" [icon]="faSlash" flip="horizontal" size="4x" transform="right-2 up-6"></fa-icon>
</div>
